# Created by https://www.toptal.com/developers/gitignore/api/python,linux,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,linux,visualstudiocode

### Linux ###
*~

### Python ###

__pycache__/

# Environments
.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### clauderfall ###
docs/session/
clauderfall.db
